* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html {
    scroll-behavior: smooth;

}

.navbar ul li:hover a {
    border-bottom: 2px solid #336EF8;
}

.home,
.about,
.skill,
.project {
    height: 90vh;

    // border-radius: 10px;
    // border: 1px solid rgba(255, 255, 255, 0.18);

}

.profile-image {
    width: 300px;
    height: auto;
}

.social-media {
    right: 0;
    bottom: 0;
}

.image-about {
    max-width: 100%;
}

iframe {
    width: 100%;
    min-height: 800px;
    border-radius: 10px;
}

.project a {
    text-decoration: none;

}

.project h3 {
    font-size: 1em;
}

.number {
    font-weight: bold;
    color: #336EF8;
}

.job-status {
    max-width: 200px;
}

.job-status p {
    font-size: 1.2em;

}

.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    text-align: center;
    overflow: hidden;
    display: none;

    .fa-spin {
        top: 300px;
    }
}

.background {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: url('https://images.unsplash.com/photo-1557683311-eac922347aa1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1430&q=80');
}

.background-blur {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
}

.footer {
    position: absolute;
    width: 100% !important;
    bottom: -2400px !important;
}

.owl-nav {
    text-align: center;
    margin: 0 auto;
    font-size: 4em;
    color: #fff;
    outline: none;
    border: none;
}

.owl-nav button {
    margin: 10px;
}

.owl-nav button:focus {
    border: none;
    outline: none;
    color: rgb(208, 208, 208);
}

.owl-nav button:hover {
    border: none;
    outline: none;
    color: rgb(163, 163, 163);
}

@media(max-width:500px) {
    .skill {
        top: 190px;
    }

    .skill .fa-6x {
        font-size: 2em;
    }

    .footer {
        position: absolute;
        width: 100% !important;
        bottom: -2600px !important;
    }

    .profile-section {
        margin-top: 100px;
    }

    #about .row {
        position: relative;
        margin-top: 100px;
    }

    .about-section {
        margin-top: 20px;
        margin-bottom: 100px;
    }

    .skill {
        position: relative !important;
        margin-top: 200px !important;
        top: 200px !important;
    }
}