@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth !important;
}

.rotate-180 {
  -webkit-transform: rotate(-90deg) !important;
          transform: rotate(-90deg) !important;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.side-menu {
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.side-menu {
  height: 100vh;
  padding: 0;
}

.side-menu .logo {
  display: block;
  text-decoration: none;
  width: 100%;
  font-family: 'Playfair Display', serif;
  padding: 10px;
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  color: #343A40;
}

.side-menu .logo:hover {
  background-color: #343A40;
  color: #fff;
}

.side-menu .social-media {
  width: 100%;
  bottom: 10px;
}

.side-menu .social-media .fa-2x {
  margin: 10px auto;
  color: #616366;
}

.side-menu .social-media .fa-2x:hover {
  margin: 10px auto;
  color: #343A40;
}

.main-content {
  height: 100vh;
  padding: 10px 20px;
  right: 0;
  overflow-y: scroll;
  overflow-x: hidden !important;
}

.jumbotron {
  height: 88vh;
}

.jumbotron img {
  width: 200px;
  height: auto;
}

.jumbotron .btn-custom {
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.jumbotron .btn-custom a {
  color: #343A40;
}

.jumbotron .btn-custom:hover {
  background-color: #343A40;
}

.jumbotron .btn-custom:hover a {
  text-decoration: none;
  color: #fff;
}

.illustration-jumbotron {
  right: -30px;
  bottom: -60px;
}

.illustration-jumbotron2 {
  left: -30px;
  top: -90px;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
}

.feature-info {
  top: -140px;
}

.feature-info .rounded {
  background: rgba(255, 255, 255, 0.25);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}

.about {
  top: -100px;
}

.timeline {
  position: relative;
  padding: 1rem;
  margin: 0 auto;
  max-width: 1300px;
}

.timeline:before {
  content: '';
  position: absolute;
  height: 100%;
  border: 1px solid #e600e6;
  right: 40px;
  top: 0;
}

.timeline:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 700px) {
  .timeline {
    padding: 2rem;
  }
  .timeline:before {
    left: calc(50% - 1px);
    right: auto;
  }
}

.timeline__item {
  padding: 1rem;
  border: 2px solid #e600e6;
  -o-border-image: linear-gradient(to right, skyblue 0%, #e600e6 100%);
     border-image: -webkit-gradient(linear, left top, right top, from(skyblue), to(#e600e6));
     border-image: linear-gradient(to right, skyblue 0%, #e600e6 100%);
  border-image-slice: 1;
  position: relative;
  margin: 1rem 3rem 1rem 1rem;
  clear: both;
}

.timeline__item:after, .timeline__item:before {
  content: '';
  position: absolute;
}

.timeline__item:before {
  right: -10px;
  top: calc(50% - 5px);
  border-style: solid;
  border-color: #e600e6 #e600e6 transparent transparent;
  border-width: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (min-width: 700px) {
  .timeline__item {
    width: 44%;
    margin: 1rem;
  }
  .timeline__item:nth-of-type(2n) {
    float: right;
    margin: 1rem;
    -o-border-image: linear-gradient(to right, #e600e6 0%, skyblue 100%);
       border-image: -webkit-gradient(linear, left top, right top, from(#e600e6), to(skyblue));
       border-image: linear-gradient(to right, #e600e6 0%, skyblue 100%);
    border-image-slice: 1;
  }
  .timeline__item:nth-of-type(2n):before {
    right: auto;
    left: -10px;
    border-color: transparent transparent #e600e6 #e600e6;
  }
}

.timeline__item--year {
  text-align: center;
  max-width: 150px;
  margin: 0 48px 0 auto;
  font-size: 1.8rem;
  background-color: #fafafa;
  line-height: 1;
  -o-border-image: none;
     border-image: none;
  padding: .5rem 1rem 1rem;
}

.timeline__item--year:before {
  display: none;
}

@media screen and (min-width: 700px) {
  .timeline__item--year {
    text-align: center;
    margin: 0 auto;
  }
  .timeline__item--year:nth-of-type(2n) {
    float: none;
    margin: 0 auto;
    -o-border-image: none;
       border-image: none;
  }
  .timeline__item--year:nth-of-type(2n):before {
    display: none;
  }
}

.timeline__title {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}

.timeline__blurb {
  line-height: 1.5;
  font-size: 1rem;
  margin: .5rem 0 0;
}

.certificate {
  margin-top: 120px !important;
}

.owl-dots,
.owl-nav {
  display: none;
}

@media (max-width: 567px) {
  body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
  }
  .jumbotron img {
    display: none !important;
  }
  button.navbar-toggler {
    position: relative;
    display: block;
    margin-left: auto;
  }
  .side-menu {
    position: relative !important;
    display: block !important;
    z-index: -1 !important;
  }
  .side-menu .logo {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    text-decoration: none;
    width: 100%;
    font-family: 'Playfair Display', serif;
    padding: 10px;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  .side-menu .social-media {
    display: none !important;
  }
  .jumbotron {
    margin-top: 30px !important;
  }
  .navbar-collapse {
    margin-top: 30px !important;
  }
  .illustration {
    display: none !important;
  }
  .feature-info {
    display: none !important;
  }
  .about,
  .jumbotron,
  .timeline-container,
  .certificate {
    top: 0;
    z-index: 2;
    background-color: #fff;
  }
}
/*# sourceMappingURL=style.css.map */